.text{
    font-size: 20px;
    margin: 0.5em 0;
    padding: 1em 1.5em;
    border: 2px var(--border-color) solid;
    border-radius: 10px;
    background-color: var(--block-color);
    line-height: 2em;
    color: var(--text-color);
}
.correct-word{
    text-align: center;
    padding:5px 0;
    border: 2px var(--border-color) solid;
    background-color: var(--block-color);
    color: var(--text-color);
}

.wrong-word{
    text-align: center;
    padding:5px 0;
    border: 2px var(--border-color) solid;
    background-color: var(--wrong-color);
    color: var(--text-color);
}
